{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/galeira/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/galeria/header.css '%}" />
    <link rel="stylesheet" href="{% static 'css/galeria/search.css '%}" />
    <link rel="stylesheet" href="{% static 'css/galeria/pagination.css'%}" />
    <link rel="stylesheet" href="{% static 'css/galeria/gallery.css' %}" />
    <link rel="stylesheet" href="{% static 'css/galeria/card.css' %}" />
    <script src="{% static 'js/galeria.js' %}" defer></script>
    <title>Galeria</title>
{% endblock %}

{% block logo %}
    <div class="logo-galerie"></div>
    <div class="search-container" style="margin-left: 10%;">
        <label class="search-icon" for="search-input"></label>
        <input
            type="text"
            class="search-input"
            id="search-input"
            placeholder="Procurar imagens"
        />
    </div>
{% endblock %}
{% block content %}
    <section class="container-gallery"></section>
    <section id="paginate">
        <div class="pagination">
            <div class="first">&#171;</div>
            <div class="page-action" id="page-previous">&lt;</div>
            <div class="page" id="page">1</div>
            <div class="page-action" id="page-next">&gt;</div>
            <div class="last">&#187;</div>
        </div>
    </section>
{% endblock %}